# Prerequisites
*.d

# Object files and Libraries
*.o
*.obj
*.a
*.lib
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Directories
build/
benchmark/
benchmark_scripts/
docs/_build/
docs/doxygen

# Binaries / Core Dumps
.bin
/core
vgcore.*

# Experimental files
exp_*
src/core/stepper.?pp
src/stepper_main.cpp

# Virtual environments
venv/
.venv/
env/
